{% extends 'admin/base.html' %}
{% load static %}

{%  block title %}  میراب | پنل مدیریتی {% endblock %}

{% block extrastyle %}

<style>

 @font-face {
 font-family: 'Shabnam';
 src: url('{% static "fonts/Sahel.eot" %}');
 src: url('{% static "fonts/Sahel.eot?#iefix" %}') format('embedded-opentype'),
        url('{% static "fonts/Sahel.woff" %}') format('woff'),
        url('{% static "fonts/Sahel.ttf" %}')  format('truetype'),
        url('{% static "fonts/Sahel.svg#svgFontName" %}') format('svg');
  font-weight: normal;
}

  body, input, tr, th, td, select{
    font-family: "Shabnam", cursive !important;
    /* font-weight:200; */
  }



</style>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">ورود به سامانه مدیریت سایت</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
