{% extends 'home/main.html' %}

{% load static %}

{%block title%}|پرسش‌های
{% endblock %}

{% block content %}

<!-- ============================================-->
<!-- <blog heading> begin ============================-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static "images/background.png" %}');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center align-items-mobile-center">
      <div class="col-md-9 ftco-animate mb-5 text-center">
        <p class="breadcrumbs mb-3"><span class="mr-2"><a href="index.html">خانه <i class="fa fa-chevron-left"></i></a></span> <span>پرسش‌های متداول<i class="fa fa-chevron-left"></i></span></p>
        <h2 class="mb-0 bread">پرسش‌های متداول</h2>
      </div>
    </div>
  </div>
  <svg viewBox="0 0 500 150" transform="scale(-1 -1)" preserveAspectRatio="none" style="height: 10%; width: 100%;  margin-top:-40px;" >
    <path d="M0.00,92.27 C216.83,192.92 304.30,8.39 500.00,109.03 L500.00,0.00 L0.00,0.00 Z" style="stroke: none;fill: white;"></path>
  </svg>
</section>
<!-- <blog heading> close ============================-->
<!-- ============================================-->

<section id="faq" style="text-align:right;" class="my-4 py-4">
  <div class="accordion">
    <div class="accordion-item">
      <div class="accordion-title">
        <h2 style="font-size:25px;">
          پرسش اول
        </h2>
        <i class="bi bi-plus-circle add"></i>
        <i class="bi bi-dash-circle remove" style="display:none"></i>
      </div>
      <div class="accordion-content">
        <p class="lh-lg text-white text-justify">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <div class="accordion-title">
        <h2 style="font-size:25px;">
          پرسش دوم
        </h2>
        <i class="bi bi-plus-circle add"></i>
        <i class="bi bi-dash-circle remove" style="display:none"></i>

      </div>
      <div class="accordion-content">
        <p class="lh-lg text-white text-justify">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
        </p>
      </div>
    </div>
    

  </div>

</section>

{% endblock %}
