{% extends "star_ratings/widget_base.html" %}
{% load i18n %}

{% block rating_detail %}

<div class="text-center p-0 m-0">
  <span class="star-ratings-rating-average text-white small"><span class='star-ratings-rating-value'>{{ rating.average|floatformat:"-2" }}</span></span>
  <span class="star-ratings-rating-count text-white small">(<span class='star-ratings-rating-value'>{{ rating.count }}</span>)</span>
</div>

<!-- <div class="star-ratings-rating-count text-white small"><span class='star-ratings-rating-value'>{{ rating.count }}</span></div> -->




{% endblock rating_detail %}
